body{margin: 0;}

div.root{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

div.root canvas.main{
	position: absolute;
}

/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* --------  メッセージ -------- */

div.message{
	position: absolute;
	right: 12px;
	top: 12px;
	height: 28px;
	line-height: 30px;
	border: solid 3px white;
	border-radius: 12px;
	padding: 0 20px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.5);
}

div.message::before{
	content: '';
	position: absolute;
	right: -2px;
	top: -2px;
	width: 100%;
	height: 100%;
	border: solid 2px black;
	border-radius: 12px;
}

/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* --------  背景 -------- */

div.background{
	position: absolute;
	width: 100%;
	height: 100%;
}

div.background div.skycolor{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 50%;
}

div.background div.groundcolor{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 50%;
}

div.background canvas{
	position: absolute;
}

/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */

