/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* --------  ステータス -------- */

div#root div.status{
	position: absolute;
	left: 12px;
	top: 12px;
	background-color: rgba(255, 255, 255, 0.5);
}

div#root div.status div.name{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 106px;
	height: 20px;
	line-height: 20px;
}

/* -------------------------------- */

div#root div.status div.gauge{
	position: absolute;
	left: 0px;
	top: 22px;
	width: 30px;
	height: 20px;
	line-height: 20px;
	text-align: right;
}

div#root div.status div.hp{
	top: 22px;
}

div#root div.status div.sp{
	top: 44px;
}

div#root div.status div.gauge div.param{
	position: absolute;
	left: 38px;
	top: 3px;
	width: 50px;
	height: 14px;
	border-radius: 10px;
}

div#root div.status div.gauge div.wrap{
	position: absolute;
	left: 35px;
	top: 0px;
	width: 100px;
	height: 14px;
	line-height: 14px;
	border: solid 3px white;
	border-radius: 10px;
	font-size: 10px;
	text-align: center;
	color: white;
	text-shadow:
		1px 0px 1px black, -1px 0px 1px black,  0px  1px 1px black,  0px -1px 1px black,
		1px 1px 1px black, -1px 1px 1px black,  1px -1px 1px black, -1px -1px 1px black;
}

/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */

