<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv='Content-Type' content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
		<title>コロリン ログイン画面</title>
		<!-- スタイル -->
		<style type="text/css">
			body{
				margin: 0;
				padding: 0;
			}

			.button{
				position: relative;
				border: solid 3px white;
				border-radius: 12px;
				text-align: center;
				background-color: rgba(255, 255, 255, 0.5);
			}
			.button.hover{
				background-color: rgba(0, 0, 0, 0.5);
			}
			.button::before{
				content: '';
				position: absolute;
				left: -2px;
				top: -2px;
				width: 100%;
				height: 100%;
				border: solid 2px black;
				border-radius: 12px;
			}

			.loading{
				position: absolute;
				left: 0px;
				top: 0px;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.5);
			}
			.loading::before{
				content: '';
				position: absolute;
				left: 50%;
				top: 100px;
				margin-left: -40px;
				width: 80px;
				height: 80px;
				background-image: url(/login/loading.gif);
				background-size: 60px 60px;
				background-position: center;
				background-repeat: no-repeat;
				background-color: white;
				border-radius: 12px;
			}
		</style>
		<!-- スクリプト -->
		<script type="text/javascript">
			document.addEventListener("DOMContentLoaded", function(e){
				// ---------------- スクロール領域最小範囲設定 ----------------
				var headerHeight = document.getElementById("header").getBoundingClientRect().bottom;
				var footerHeight = document.getElementById("footer").getBoundingClientRect().height;
				document.getElementById("root").style.minHeight = (headerHeight + 20 + footerHeight) + "px";
				// ---------------- ローディングマスク設定 ----------------
				var loadingDiv = document.getElementsByClassName("loading").item(0);
				loadingDiv.addEventListener("click", function(e){loadingDiv.style.visibility = "hidden";});
				loadingDiv.style.visibility = "hidden";
				// ---------------- ボタン設定 ----------------
				var isTouch = ('ontouchstart' in window);
				var setButton = function(div, func){
					var isPress = false;
					// マウスがボタン領域内にあるか確認する関数
					var isOver = function(e){
						var x = isTouch ? e.changedTouches[0].clientX : e.clientX;
						var y = isTouch ? e.changedTouches[0].clientY : e.clientY;
						var b = div.getBoundingClientRect();
						return (b.left < x && x < b.right && b.top < y && y < b.bottom);
					};
					// 押下状態の描画関数
					var setHover = function(hover){
						var find = (div.className.indexOf(" hover") >= 0);
						if(hover && !find){div.className += " hover";}
						if(!hover && find){div.className = div.className.replace(/ hover/g , "");}
					};
					// マウスイベント設定
					var mdnfn = function(e){setHover(isPress = isOver(e)); e.preventDefault();};
					var mmvfn = function(e){if(isPress){setHover(isOver(e)); e.preventDefault();}};
					var mupfn = function(e){if(isPress){setHover(false); if(isOver(e)){func();} e.preventDefault();} isPress = false;};
					if(isTouch){
						div.addEventListener("touchstart", mdnfn);
						div.addEventListener("touchmove", mmvfn);
						div.addEventListener("touchend", mupfn);
						div.addEventListener("touchcancel", mupfn);
					}else{
						div.addEventListener("mousedown", mdnfn);
						div.addEventListener("mousemove", mmvfn);
						div.addEventListener("mouseup", mupfn);
						div.addEventListener("mouseout", mupfn);
					}
				};
				setButton(document.getElementById("login_tw"), function(){
					setTimeout(function(){location.href = "/auth/twitter";}, 0);
					loadingDiv.style.visibility = "visible";
				});
				setButton(document.getElementById("login_fb"), function(){alert("使えないよ")});
				// ---------------- ロゴ動作設定 ----------------
				var logoMotionCount = 0;
				var logoMotion = function(img){
					var s = 1 + 0.1 * Math.cos(logoMotionCount++ * 0.2);
					img.style.transform = img.style.webkitTransform = "scale(" + s + ")";
					setTimeout(logoMotion, 33, img);
				}
				logoMotion(document.getElementById("titleLogo"));
				// ---------------- ----------------
				// TODO スクロールをjs制御にする?
			});
		</script>
	</head>
	<body>
		<div id="root" style="position:absolute;width:100%;height:100%;overflow:hidden;background-color:grey;">
			<div id="header">
				<!-- タイトル -->
				<div style="position:relative;width:320px;height:240px;margin:10px auto 10px auto;">
					<img src="/login/top.png" style="position:absolute;left:0px;top:0px;width:320px;height:240px;">
					<img id="titleLogo" src="/login/title.png" style="position:absolute;right:10px;top:10px;width:135px;height:50px;">
				</div>
            
				<!-- ログインボタン -->
				<div id="login_tw" class="button" style="width:300px;height:26px;line-height:28px;margin:10px auto 10px auto;">twitterでログイン</div>
				<div id="login_fb" class="button" style="width:300px;height:26px;line-height:28px;margin:10px auto 10px auto;">facebookでログイン(永遠に準備中)</div>
            
				<!-- 説明 -->
				<div style="width:100%;height:40px;line-height:40px;background-color:green;font-size:20px;text-align:center;margin:20px 0 0;">コロリンって？</div>
				<div style="width:100%;background-color:white;text-align:center;margin:0 0 20px 0;padding:10px;">
					<img src="/login/game.png" style="width:260px;height:260px;"><br>
					前代未聞！！<br>スマートフォンブラウザ用の<br>疑似3D冒険型すごろく<br>ソーシャルゲームだよ
				</div>
			</div>

			<!-- フッダ -->
			<div id="footer" style="position:absolute;bottom:0px;width:100%;">
				<div style="width:100%;background-color:green;text-align:center;">2014 <a href="http://totetero.com">totetero.com</a></div>
				<!-- テスト用ログインフォーム -->
				<form action="/auth/local" method="post">
					ローカルログイン(テスト用)<br>
					ユーザー名: <input type="text" name="user" placeholder="ユーザー名"/><br>
					パスワード: <input type="password" name="password" placeholder="パスワード"/><br>
					<input type="submit" value="ログイン" />
				</form>
			</div>

			<!-- ローディングマスク -->
			<div class="loading"></div>
		</div>
	</body>
</html>

