<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>トップページ</title>
	</head>
	<body>
		トップページだよ<br>
		全体的なお知らせとか見れるよ<br>
		<a href="/mypage">マイページへ行く</a><br>
		<a href="/logout">ログアウト</a><br>
	</body>
</html>

