/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */

#screen >.pageContainer .page.chat{
	background-color: yellow;

	canvas{
		position: absolute;
		left: 50%;
		top: 50%;
		width: 320px;
		height: 480px;
		margin-left: -160px;
		margin-top: -240px;
	}

	input{
		position: absolute;
		left: 10px;
		top: 8px;
		width: 235px;
		height: 20px;
	}

	.btn{
		position: absolute;
		right: 5px;
		top: 5px;
		width: 50px;
		height: 26px;
		line-height: 30px;
		text-align: center;
		border: solid 3px white;
		border-radius: 12px;
		background-color: rgba(255, 255, 255, 0.5);
	}

	.btn::before{
		content: '';
		position: absolute;
		left: -2px;
		top: -2px;
		width: 100%;
		height: 100%;
		border: solid 2px black;
		border-radius: 12px;
	}

	.btn.active{
		background-color: rgba(0, 0, 0, 0.5);
	}
}

/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */

