/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */

#screen >.pageContainer .page.chat{
	background-color: yellow;

	canvas{
		position: absolute;
		left: 50%;
		top: 50%;
		width: 320px;
		height: 480px;
		margin-left: -160px;
		margin-top: -240px;
	}

	input{
		position: absolute;
		left: 10px;
		top: 8px;
		width: 235px;
		height: 20px;
	}

	.core-btn.send{
		right: 5px;
		top: 5px;
		width: 50px;
		height: 26px;
		line-height: 30px;
		text-align: center;
	}

	.core-btn.exit{
		right: 5px;
		bottom: 5px;
		width: 80px;
		height: 26px;
		line-height: 30px;
		text-align: center;
	}

	.core-popup{
		.name{
			position: absolute;
			left: 120px;
			top: 10px;
		}

		.chara{
			position: absolute;
			left: 10px;
			top: 10px;
			width: 100px;
			height: 200px;
			background-color: rgba(0, 0, 0, 0.5);
		}

		.core-btn.close{
			right: 5px;
			bottom: 5px;
			width: 80px;
			height: 26px;
			line-height: 30px;
			text-align: center;
		}
	}
}

/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */

