/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* -------- ボタン -------- */

.core-btn{
	position: absolute;
	border: solid 3px white;
	border-radius: 12px;
	background-color: rgba(255, 255, 255, 0.5);

	&::before{
		content: '';
		position: absolute;
		left: -2px;
		top: -2px;
		width: 100%;
		height: 100%;
		border: solid 2px black;
		border-radius: 12px;
	}

	&.active{
		background-color: rgba(0, 0, 0, 0.5);
	}

	&.inactive{
		opacity: 0.5;
	}
}

.core-picker-btn{
	position: absolute;
	width: 135px;
	height: 38px;

	.button{
		position: absolute;
		left: 35px;
		top: 3px;
		width: 97px;
		height: 26px;
		line-height: 28px;
		text-align: center;
		border: solid 3px white;
		border-left: none;
		border-radius: 0 12px 12px 0;
		background-color: rgba(255, 255, 255, 0.5);

		&::before{
			content: '';
			position: absolute;
			left: 0px;
			top: -2px;
			width: 100%;
			height: 100%;
			border: solid 2px black;
			border-left: none;
			border-radius: 0 12px 12px 0;
		}
	}

	.arrow{
		position: absolute;
		left: 0px;
		top: 0px;
		width: 32px;
		height: 32px;
		border: solid 3px white;
		border-radius: 12px 10px 10px 12px;
		background-color: rgba(255, 255, 255, 0.5);

		&::before{
			content: '';
			position: absolute;
			left: -2px;
			top: -2px;
			width: 100%;
			height: 100%;
			border: solid 2px black;
			border-radius: 12px 10px 10px 12px;
		}
	}

	&.active{
		.button, .arrow{background-color: rgba(0, 0, 0, 0.5);}
	}

	&.inactive{
		opacity: 0.5;
	}
}

/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* -------- ポップアップ -------- */

.core-popup{
	.core-background{
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
	}

	.core-window{
		position: absolute;
		left: 7px;
		top: 50%;
		width: 300px;
		height: 220px;
		margin-top: -113px;
		border: solid 3px white;
		border-radius: 12px;
		background-color: rgba(255, 255, 255, 0.5);

		&::before{
			content: '';
			position: absolute;
			left: -2px;
			top: -2px;
			width: 100%;
			height: 100%;
			border: solid 2px black;
			border-radius: 12px;
		}
	}
}

/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* -------- メニューポップアップ -------- */

.core-popup.core.menu{
	.core-btn{
		width: 100px;
		height: 26px;
		line-height: 30px;
		text-align: center;

		&.world{left: 5px; top: 5px;}
		&.quest{left: 125px; top: 5px;}
		&.chara{left: 5px; top: 42px;}
		&.item{left: 125px; top: 42px;}
		&.status{left: 5px; top: 79px;}
		&.friend{left: 125px; top: 79px;}
		&.refbook{left: 5px; top: 116px;}
		&.setting{left: 125px; top: 116px;}
		&.help{left: 5px; top: 153px;}
		&.close{width: 80px; right: 5px; bottom: 5px;}
	}
}

/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */

