body{
	margin: 0;
	overflow: hidden;
}

// ルート
#root{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: gray;
}

/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* -------- スクリーン -------- */

#screen{
	position: absolute;
	overflow: hidden;
}

// ページ
#screen >.pageContainer .page{
	position: absolute;
	overflow: hidden;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

// ヘッダー
#screen >.header{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 320px;
	height: 48px;

	.title{
		position: absolute;
		left: 5px;
		top: 5px;
		width: 191px - 6px;
		height: 43px - 6px;
		line-height: 38px;
		padding: 0 0 0 30px;
		border: solid 3px white;
		border-radius: 10px;
		background-color: rgba(255, 255, 255, 0.5);
		text-align: center;
		font-size: 20px;
	}

	.title::before{
		content: '';
		position: absolute;
		left: -2px;
		top: -2px;
		width: 100%;
		height: 100%;
		border: solid 2px black;
		border-radius: 10px;
	}

	.btn{
		position: absolute;
		top: 0px;
		width: 42px - 6px;
		height: 48px - 3px;
		line-height: 70px;
		border: solid 3px white;
		border-top: none;
		border-radius: 0 0 10px 10px;
		background-color: rgba(255, 255, 255, 0.5);
		text-align: center;
		font-size: 10px;
	}

	.btn::before{
		content: '';
		position: absolute;
		left: -2px;
		top: 0px;
		width: 100%;
		height: 100%;
		border: solid 2px black;
		border-top: none;
		border-radius: 0 0 10px 10px;
	}

	.btn.active{
		background-color: rgba(0, 0, 0, 0.5);
	}

	.back{left: 231px;}
	.menu{left: 278px;}
}

/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* -------- コントローラー -------- */

.ctrlBtn{
	position: absolute;
	bottom: 0px;
	width: 144px;
	height: 144px;

	div{
		position: absolute;
		border: solid 3px white;
		background-color: rgba(255, 255, 255, 0.5);
	}

	div::before{
		content: '';
		position: absolute;
		left: -2px;
		top: -2px;
		width: 100%;
		height: 100%;
		border: solid 2px black;
	}

	div.active{
		background-color: rgba(0, 0, 0, 0.5);
	}

	// 十字キー
	&.left{
		left: 0px;
		//display:none;

		.up{left: 56px; top: 18px; width: 26px; height: 36px;}
		.dn{left: 56px; bottom: 18px; width: 26px; height: 36px;}
		.rt{right: 18px; top: 56px; width: 36px; height: 26px;}
		.lt{left: 18px; top: 56px; width: 36px; height: 26px;}
		.up, .up::before{border-radius: 8px 8px 15px 15px;}
		.dn, .dn::before{border-radius: 15px 15px 8px 8px;}
		.rt, .rt::before{border-radius: 15px 8px 8px 15px;}
		.lt, .lt::before{border-radius: 8px 15px 15px 8px;}
	}

	// コマンドボタン
	&.right{
		right: 0px;

		div{
			left: 12px;
			width: 114px;
			height: 26px;
			line-height: 30px;
			text-align: center;
			//display:none;
		}

		div, >div::before{
			border-radius: 12px;
		}

		.zb{top: 2px;}
		.xb{top: 38px;}
		.cb{top: 74px;}
		.sb{top: 110px;}
	}
}

/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* -------- ロード画面 -------- */

#loading{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* -------- インポート -------- */

@import "mypage.less";
@import "world.less";
@import "game.less";
@import "chat.less";

/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */

