<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>マイページ</title>
	</head>
	<body>
		マイページだよ<br>
		ようこそ<%=name %>さん<br>
		<img src="<%=icon %>" width="48" height="48"><br>
		<a href="/stage/normal">ステージ選択を行う</a><br>
		<!--<a href="/chat">チャットテスト</a><br>-->
		<a href="/">トップへ戻る</a><br>
	</body>
</html>

