<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>エリア選択</title>
	</head>
	<body>
		<%=area %>エリアのステージ選択だよ<br>
		<a href="/game/test01">テストステージ1のゲームを開始する</a><br>
		<a href="/game/test02">テストステージ2のゲームを開始する</a><br>
		<a href="/game/test03">テストステージ3のゲームを開始する</a><br>
		<a href="/mypage">マイページへ戻る</a><br>
		<a href="/">トップへ戻る</a><br>
	</body>
</html>

