<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv='Content-Type' content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
		<title>コロリン</title>
		<link rel="stylesheet" href="index.css" type="text/css">
		<script type="text/javascript" src="index.js"></script>
	</head>
	<body>
		<div id="root">
			<div id="screen"></div>
			<div id="lctrl">
				<div class="up"></div>
				<div class="dn"></div>
				<div class="rt"></div>
				<div class="lt"></div>
			</div>
			<div id="rctrl">
				<div class="zb"></div>
				<div class="xb"></div>
				<div class="cb"></div>
				<div class="sb"></div>
			</div>
		</div>
	</body>
</html>

