<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv='Content-Type' content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
		<style type="text/css">body{margin: 0;}</style>
		<title><%=title %></title>
		<script type="text/text" id="jdat"><%-jdat %></script>
		<script type="text/text" id="daturl"><%=daturl %></script>
		<script type="text/javascript">
			window.onload = function(){
				// ローディング表記
				var action = 0;
				var loadingStrDiv = document.createElement("div");
				loadingStrDiv.style.color = "white";
				loadingStrDiv.style.margin = "10px";
				document.getElementById("loading").appendChild(loadingStrDiv);
				var loadingFunc = function(){
					if(document.getElementById("loading")){
						switch(action++ % 4){
							case 0: loadingStrDiv.innerHTML = "loading"; break;
							case 1: loadingStrDiv.innerHTML = "loading."; break;
							case 2: loadingStrDiv.innerHTML = "loading.."; break;
							case 3: loadingStrDiv.innerHTML = "loading..."; break;
						}
						setTimeout(loadingFunc, 333);
					}
				}
				loadingFunc();

				// 静的データ
				var jdat = JSON.parse(document.getElementById("jdat").innerHTML);
				var daturl = document.getElementById("daturl").innerHTML;

				// 動的データのロード
				var xhr = new XMLHttpRequest();
				xhr.open('GET', daturl);
				xhr.addEventListener("load", function(e){
					// 動的データのロード完了
					window.jdat = JSON.parse(xhr.responseText);
					// 画像データを一つの連想配列にまとめる 動的データ優先
					if(window.jdat.imgs){
						for(var i in jdat.imgs){
							if(!window.jdat.imgs.hasOwnProperty(i)){
								window.jdat.imgs[i] = jdat.imgs[i];
							}
						}
					}else if(jdat.imgs){
						window.jdat.imgs = jdat.imgs;
					}
					// 文字列データを一つの連想配列にまとめる 動的データ優先
					if(window.jdat.strs){
						for(var i in jdat.strs){
							if(!window.jdat.strs.hasOwnProperty(i)){
								window.jdat.strs[i] = jdat.strs[i];
							}
						}
					}else if(jdat.strs){
						window.jdat.strs = jdat.strs;
					}
					// スタイルシート設定
					for(var i = 0; i < jdat.css.length; i++){
						var style = document.createElement("style");
						style.type = "text/css";
						style.innerHTML = jdat.css[i];
						document.head.appendChild(style);
					}
					// ジャバスクリプト設定
					for(var i = 0; i < jdat.js.length; i++){
						var script = document.createElement("script");
						script.type = "text/javascript";
						script.innerHTML = jdat.js[i];
						document.head.appendChild(script);
					}
				});
				xhr.send();
			}
		</script>
	</head>
	<body>
		<div id="root"></div>
		<div id="loading" style="position:absolute;left:0px;top:0px;width:100%;height:100%;z-index:9999;background-color:black;"></div>
	</body>
</html>

