<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv='Content-Type' content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
		<title>コロリン 404</title>
		<style type="text/css">
			body{
				margin: 0;
				background-color: grey;
			}
			.message{
				position: absolute;
				left: 50%;
				bottom: 50%;
				margin-left: -160px;
				width: 320px;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div class="message">
			404エラーだよ<br>
			<a href="/">トップに戻る</a>
		</div>
	</body>
</html>

